#todo-form {
  margin-bottom: 25px; }

.card {
  margin-bottom: 20px; }

.card .check {
  height: 28px;
  width: 28px;
  border: 0;
  cursor: pointer; }

div.card-text {
  font-size: 20px; }
  div.card-text.checked-true {
    text-decoration: line-through; }

.remove-todo {
  position: relative;
  top: 5px;
  height: 22px;
  width: 22px;
  padding: 0;
  border: 0;
  background: url("./assets/trash.png");
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer; }

.card button.checked-false {
  background: url("./assets/check.png"); }

.card button.checked-true {
  background: url("./assets/checked.png"); }
